imports for the dash
uses jupyter dash

In [ ]:
!pip install jupyter-dash

import pandas as pd
import plotly.express as px
from jupyter_dash import JupyterDash
from dash import dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
from plotly.subplots import make_subplots

CSV Oilprices (UKBrent)

In [ ]:
gdp = pd.read_csv('gdp.csv')

fig_gdp = px.scatter(
    gdp, x="year", y="gdp", labels={
        "gdp": "BIP in Billionen US-Dollar",
        "year": "Jahr",
    })

fig_gdp.show()

In [ ]:
df= pd.read_csv('bachelor_table.csv', header=[0])

fig = px.line(df, x='year',y='military_spendings_usd', color='country_name')

fig = go.Figure()
for subset_id, subset in df.groupby('year'):
    fig.add_trace(
        px.line(
            subset,
            x=subset['year'],
            y=subset['gdp_usd'],
            color=subset['country_code'],
            title=subset_id
        ).data[0]
    )

fig.show()

In [ ]:
from plotly.subplots import make_subplots

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots



df = pd.read_csv('bachelor_tablde.csv', header=[0])
war_table = pd.read_csv('war_table.csv', header=[0])

dff = df[df['country_code'] == 'DEU']


# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(x=dff['year'], y=dff['military_spendings_usd'], name="Militärausgaben in USD",mode='lines+markers'),
    secondary_y=False,
)

fig.add_trace(
    go.Bar(x=war_table['year'], y=war_table[war_table['wars']], name="GDP Zuwachs in %"),
    secondary_y=True,
    
)

# Add figure title
fig.update_layout(
    title_text="Double Y Axis Example"
)

# Set x-axis title
fig.update_xaxes(title_text="xaxis title")

# Set y-axes titles
fig.update_yaxes(title_text="<b>primary</b> Militärausgaben in USD", secondary_y=False)
fig.update_yaxes(title_text="<b>secondary</b> GDP Zuwach in %", secondary_y=True)

fig.show()

In [ ]:
import plotly.graph_objects as go
import plotly.express as px

# get data
df_gapminder = pd.read_csv('bachelor_table.csv', header=[0])

# manage data
df_gapminder_country = df_gapminder.groupby(['country_name', 'year']).mean().reset_index()
df = df_gapminder_country.pivot(index='year', columns='country_name', values = 'gdp_usd')
df.tail()

# plotly setup and traces
fig = go.Figure()
for col in df.columns:
    fig.add_trace(go.Scatter(x=df.index, y=df[col].values,
                                 name = col,
                                 mode = 'lines'))


# format and show figure
fig.update_layout(height=800, width=1000)
fig.show()

**IMPORTANT:** zur Visualisierung im Dashboard

In [ ]:
df = pd.read_csv('war_table.csv')
fig = go.Figure(data=[
    go.Bar(name='Dispute', x=df['year'], y=df['dispute']),
    go.Bar(name='gewaltlose Krisen', x=df['year'], y=df['non_violent_crises']),
    go.Bar(name='gewaltsame Krisen', x=df['year'], y=df['violent_crises']),
    go.Bar(name='limitierte Kriege', x=df['year'], y=df['limited_wars']),
    go.Bar(name='Kriege', x=df['year'], y=df['wars']),
])
# Change the bar mode
fig.update_layout(barmode='stack')
fig.show()

In [ ]:
df = df = pd.read_csv('war_table.csv')

fig = px.pie(df, values=df.columns, names=df.columns, title='Population of European continent')
fig.show()

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip 
from pandas_profiling import ProfileReport

In [ ]:
df = pd.read_csv('keywords_googlesearch_timeline.csv')
df['Woche'] =  pd.to_datetime(df['Woche'])
profile = ProfileReport(df, title='Report')

Google Trends Analyse von Ukraine und Afghanistan

In [ ]:
df = pd.read_csv('keywords_googlesearch_timeline.csv')

df['Woche'] =  pd.to_datetime(df['Woche'])
#df[["ukraine: (Weltweit)", "afghanistan: (Weltweit)"]] = df[["ukraine: (Weltweit)", "afghanistan: (Weltweit)"]].apply(pd.to_numeric)


fig = px.line(df, x='Woche', y=['ukraine: (Weltweit)','afghanistan: (Weltweit)'])
fig.show()

In [ ]:
df = pd.concat(
    map(pd.read_csv, ['ukraine_google_trends.csv', 'afghanistan_google_trends.csv']), ignore_index=True)

df['Woche'] =  pd.to_datetime(df['Woche'])
fig = px.scatter(df, x='Woche', y=['ukraine: (Weltweit)','afghanistan: (Weltweit)'])
fig.update_traces(mode = 'lines+markers')
fig.show()

In [ ]:

df = pd.read_csv('merged_google_trends.csv',sep=';',header=[0])
fig = px.scatter(df, x='index', y=['afg','ukraine','irak'])
fig.update_traces(mode = 'lines+markers')
fig.show()

In [ ]:
# Testdata einlesen
testdata = pd.read_csv('testdata.csv', header=[0])
# Array
testkip = []
for kip in testdata:
    testkip.append({'label': str(testdata), 'value': testdata})
print(testkip)

In [ ]:
df = pd.read_csv('csv.csv')
df

df = df.reset_index()

df = pd.melt(df, id_vars='Land', value_vars=['2021','2020','2019','2018','2017','2016','2015','2014','2013','2012','2011','2010','2009','2008','2007','2005','2000','1995','1990'])
df

               Land variable     value
0          Albanien     2021     241.0
1           Belgien     2021    6400.0
2         Bulgarien     2021    1282.0
3       Deutschland     2021   63339.0
4          Dänemark     2021    5551.0
..              ...      ...       ...
546      Tschechien     1990       NaN
547          Türkei     1990    5315.0
548             USA     1990  306170.0
549          Ungarn     1990       NaN
550  Großbritannien     1990   39590.0

[551 rows x 3 columns]